@charset "UFC-8"

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}

.box1 {
    background-color: white;
    margin top: 100px;
}


.box1 .child {
    width: 300px;
    background-color: orangered;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    border: 10px solid orangered;
    /* 
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-delay: 0.5s;
    transition-timing-function:ease-in-out ; 
  
  
    아래 한줄로 요약이가능함*/


    transition: background-color 0.3s 0.5s ease,
        /* 색깔변화에 필요한 적용 */
        /* transform 0.4s 0.8s ease; */
        /* 애니메이션적용을 위한 설정 */

        /* 아래 한줄로 요약이가능함*/
        transition: all 0.3s 0.2s ease;
                    /* 실핼시간 /ㅈㅣ연시간 */
}



.box1:hover .child {
    background-color: cadetblue;
    transform: translateY(30px);

}

.box2{
    width: 400px;
    margin: 50px auto 0;
    background-color: dimgray;
    color: bisque;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
}

.box2 p{
    transition: 0.4s;
    transform: rotateY('angle');
}

.box2 p.one{transition-delay: 0.3s;}
.box2 p.two{transition-delay: 0.6s;}
.box2 .p.three{transition-delay: 0.9s;}

.box2:hover p{
    transform: translateX(0%);
}